* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: auto;
  text-decoration: none;
  word-break: normal;
  scroll-behavior: smooth;
  font-family: Inter-Regular;
}

.btn {
  font-size: 21px;
  font-weight: 700;
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
}

.btn--primary {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    background-color: var(--secondary-color);
    box-shadow: var(--btn-shadow-hover);
  }
  &:active {
    background-color: var(--btn-click-color);
    box-shadow: var(--btn-shadow-main);
  }
}

.mainField {
  display: flex;
  gap: 200px;
}

.sidebar {
  width: 180px;
  height: 100vh;
  background: #333;
  color: white;
  padding: 20px;
}

.sidebar .logo {
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.mainAddTaskField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTaskField {
  display: flex;
  justify-content: center;
  gap: 40px;
}
