* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: auto;
  text-decoration: none;
  word-break: normal;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.dnone {
  display: none !important;
}

.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  object-fit: contain;
  object-position: center;
}

.btn--primary, .btn--add {
  background-color: var(--primary-color);
  color: white;

  &:hover {
    background-color: var(--secondary-color);
    box-shadow: var(--btn-shadow-hover);
    color: white;
  }

  &:active {
    background-color: var(--btn-click-color);
    box-shadow: var(--btn-shadow-main);
  }
}

.btn--secondary {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

  &:hover {
    border-color: var(--secondary-color);
    box-shadow: var(--btn-shadow-hover);
    color: var(--secondary-color);
  }

  &:active {
    background-color: white;
    box-shadow: var(--btn-shadow-main);
  }
}

.btn--login {
  padding: 16px 24px;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
}

.btn--signup {
  height: 48px;
  width: 112px;
  font-size: 16px;
  padding: 16px;
}

.btn--arrow, .btn--close {
  width: 32px;
  height: 32px;
  background-color: transparent;

  &:hover {
    background-color: var(--btn-arrow-hover);
    border-radius: 50%;
  }
}

.btn--user {
  width: 56px;
  height: 56px;
  background-color: white;
  border: solid 3px var(--secondary-text-color);
  border-radius: 50%;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight:700;
}

.btn--user:hover {
  background-color: var(--btn-user-hover);
}

.btn--addPerson {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: var(--primary-color);
  border-radius: 46px;
  background-color: var(--primary-color);
  box-shadow: var(--contact-menu-shadow);
  transition: 125ms;
  cursor: pointer;
}

.btn--addPerson:active {
  background-color: var(--secondary-color);
}

.btn--subtask {
  background-color: transparent;
  border: none;

  img {
    width: 24px;
    height: 24px;
    background-color: transparent;
    object-fit: contain;
    object-position: center;
  }
}

.input {
  font-size: 20px;
  padding: 16px 24px;
  border: 1px solid var(--input-default-main);
  border-radius: 12px;
}

.input::placeholder {
  font-size: 20px;
  color: var(--input-default-main);
}

.input--section {
  position: relative;
}

.input:active {
  border: 1px solid var(--secondary-color);
}

.input--icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.mainField {
  display: flex;
  gap: 200px;
}

.mainAddTaskField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTaskField {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.f-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.f-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider-vert {
  background-color:  var(--input-default-main);
  width: 1px;
  height: 24px
}

