main {
  background-color: var(--main-bg);
}

.task-container {
  max-width: var(--max-dp-width);
  padding: 16px;

  h1 {
    font-size: 47px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    padding-top: 48px;
  }
}

.form-task {
  grid-template-columns: 1fr;
}

.input {
  font-size: 16px;
  padding: 10px 21px;
}

.input::placeholder {
  font-size: 16px;
  font-weight: 300;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priority-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.prio-btn {
  flex: 1;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.prio-btn .active {
  background-color: #ff3d00;
  color: white;
  border-color: #ff3d00;
}

.img-prio {
  margin-left: 8px;
  width: 20px;
  height: auto;
}

.low,
.urgent,
.medium {
  height: 15px;
  object-fit: contain;
  object-position: center;
}

.dropdown {
  color: black;
}

.input {
  width: 100%;
}

.input--section {
  position: relative;
  display: flex;
  align-items: center;
}

.input--section .input {
  padding-right: 100px;
}

.btn--subtask {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--subtask img {
  width: 20px;
  height: 20px;
}

.subtask-action-btns {
  display: flex;
  gap: 8px;
}
/* #subtask-close {
  right: 68px;
}

#subtask-bin {
  right: 40px;
}

#subtask-save {
  right: 12px;
} */

.required::after {
  content: "*";
  color: var(--input-required);
  right: 2px;
}

.action-btns {
  position: sticky;
  bottom: 0;
  z-index: 5;
  background-color: var(--main-bg);
  padding: 16px 0;
}
