/* --- Board Header & Suche --- */
.app--content {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header-section {
  padding: 40px 60px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.title-container h1 {
  font-size: 61px;
  margin: 0;
}

.board-actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* .search-container {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 8px 16px;
    gap: 10px;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 200px;
} */

/* .search-divider {
  width: 1px;
  height: 31px;
  background-color: #d1d1d1;
} */

.btn--primary {
  padding: 12px 16px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* --- Kanban Spalten Layout --- */
.kanban-columns {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 256px)); /* evtl max wert anpassen */
  gap: 32px;
}

.column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--board-title-col);
  }
}

.btn--add-task {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: solid 2px rgba(42, 54, 71, 1);

  &:hover {
    border-color: var(--secondary-color);
    img {
      filter: invert(62%) sepia(72%) saturate(400%) hue-rotate(163deg) brightness(95%) contrast(90%);
    }
  }

  &:active {
    border-color: var(--btn-click-color);
    img {
      filter: invert(11%) sepia(27%) saturate(59%) hue-rotate(204deg) brightness(95%) contrast(94%);
    }
  }
}

.board-task{
    list-style: none;
}

.no-task{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: rgba(231, 231, 231, 1);
    color: var(--fourth-text-color);
    border: solid 1px var(--fourth-text-color);
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
}

/* --- Task Cards --- */
.task-card {
  background: white;
  border-radius: 24px;
  padding: 16px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
  cursor: pointer;
}

.category-label {
  padding: 4px 16px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 12px;
}

.user-story {
  background-color: #0038ff;
}

.task-title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 8px;
}

.task-description {
  color: #a8a8a8;
  font-size: 16px;
  margin-bottom: 12px;
}

/* --- Progress Bar --- */
.subtask-progress {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.progress-bar-bg {
  flex-grow: 1;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 4px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4589ff;
  border-radius: 4px;
}

.subtask-progress span {
  font-size: 12px;
}

/* --- Card Footer & Initialen --- */
.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignees {
  display: flex;
}

.initials-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 2px solid white;
  margin-right: -8px;
  /* Überlappung */
}

.orange {
  background-color: #ff7a00;
}

.turquoise {
  background-color: #1fd7c1;
}

.purple {
  background-color: #462f8a;
}

.prio-icon {
  width: 17px;
  height: 12px;
}
