@keyframes slideFromRight {
  from {
    transform: translate(50%, -50%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.dialog-slide-in {
  animation: slideFromRight 175ms ease-in-out forwards;
}

/* only for testing */
.test-dialog {
  width: 60%;
  height: 70%;
}

.dialog {
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog .slide-in {
  animation: slideFromRight 175ms ease-in-out forwards;
}

.task-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.detail-task {
  width: 100%;
  max-width: 525px;
  padding: 48px 40px;
}

.detail-task--header {

  .detail-task--category {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    font-size: 61px;
    font-weight: 700;
  }
}

.detail-task--content {
  gap: 24px;

  .detail-task--infos{
    gap: 24px;

    .detail-task--date, .detail-task--prio{
      gap: 25px;
    }
    .detail-task--prio-content{
      gap: 10px;
    }
  }
}