/* --- Board Header & Suche --- */
.app--content {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: var(--max-dp-width);
  padding: 8px;
}

.header-section {
  padding: 40px 60px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.title-container h1 {
  font-size: 61px;
  margin: 0;
}

.board-actions {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* .search-container {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 8px 16px;
    gap: 10px;
}

.search-container input {
    border: none;
    outline: none;
    font-size: 20px;
    width: 200px;
} */

/* .search-divider {
  width: 1px;
  height: 31px;
  background-color: #d1d1d1;
} */

.btn--primary {
  padding: 12px 16px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* --- Kanban Spalten Layout --- */
.kanban-columns {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(256px, 256px)); /* evtl max wert anpassen */
  gap: 32px;
}

.column-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--board-title-col);
  }
}

.btn--add-task {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  border: solid 2px rgba(42, 54, 71, 1);

  &:hover {
    border-color: var(--secondary-color);
    img {
      filter: invert(62%) sepia(72%) saturate(400%) hue-rotate(163deg) brightness(95%) contrast(90%);
    }
  }

  &:active {
    border-color: var(--btn-click-color);
    img {
      filter: invert(11%) sepia(27%) saturate(59%) hue-rotate(204deg) brightness(95%) contrast(94%);
    }
  }
}

.board-task {
  list-style: none;
}

.no-task {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: rgba(231, 231, 231, 1);
  color: var(--fourth-text-color);
  border: solid 1px var(--fourth-text-color);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

/* --- Task Cards --- */
.task {
  background: white;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 0px 10px 3px #00000014;
  cursor: pointer;
  list-style: none;

  &:active {
    transition: transform 0.125s ease;
    transform: rotate(5deg);
  }
}

.drag-placeholder {
  min-height: 80px;
  border: 2px dashed #a8a8a8;
  border-radius: 24px;
  background: transparent;
  list-style: none;
}

.task--card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
}

.task--list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task--category-label {
  padding: 4px 16px;
  border-radius: 8px;
  color: rgb(0, 0, 0);

  &.user-story {
    background-color: var(--task-userstory-bg);
    color: white;
  }

  &.technical-task {
    background-color: var(--task-technicaltask-bg);
    color: white;
  }
}

.task--content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task--title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task--title {
  font-weight: 700;
  font-size: 16px;
}

.task--description {
  color: #a8a8a8;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* reserve fur alte browser */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* --- Progress Bar --- */
.subtask--progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtask--progressbar {
  height: 8px;
  width: 50%;
  appearance: none;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

/* die psydoclass sind fur alle browser weil browser die progress anders rendern farblich. */

.subtask--progress progress::-webkit-progress-bar {
  background-color: #f4f4f4;
  border-radius: 4px;
}

.subtask--progress progress::-webkit-progress-value {
  background-color: #4589ff;
  border-radius: 4px;
}

.subtask--progress progress::-moz-progress-bar {
  background-color: #4589ff;
  border-radius: 4px;
}

/* --- Card Footer & Initialen --- */

.task--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task--assignees {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 0.5rem;
}

.assignee {
  margin-left: -0.5rem;
}

.assignee--initials {
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  background-color: var(--assignee-color, #888);
  color: #fff;
  border: 2px solid #fff;

  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 1;
  user-select: none;
}

/* optional: bei mehr als X Personen z.B. "+3" Anzeige */
.assignee--more {
  background-color: #e0e0e0;
  color: #333;
}

.orange {
  background-color: #ff7a00;
}

.turquoise {
  background-color: #1fd7c1;
}

.purple {
  background-color: #462f8a;
}

.prio-icon {
  width: 17px;
  height: 12px;
}

/* --- Drag Placeholder --- */
.drag-placeholder {
  min-height: 80px;
  border: 2px dashed #a8a8a8;
  border-radius: 24px;
  background: transparent;
  list-style: none;
}
