.main-content {
  display: grid;
  grid-template-columns: 32vw 1fr;
  min-height: 100vh;
  background-color: var(--input-text-color);
}

.left-content {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 2.5vh;
  background-color: var(--input-text-color);
  max-height: 100vh;
  overflow: hidden;
  justify-content: center;
  min-width: 250px;
}

.add-button-size {
  font-family: Inter-Bold;
  font-weight: 700;
  font-size:clamp(16px, 1.5vw, 21px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 24vw;
  height: 6vh;
  min-width: 200px;
  min-height: 45px;
}

.contact-list {
  overflow-y: auto;
  margin-top: 2vh;
  height: 100%;
}

.letter-divider {
  font-size: 20px;
  padding: 20px 10px 10px;
  border-bottom: 1px solid;
  border-color: var(--fifth-text-color);
  margin-bottom: 15px;

}

.right-content {
  margin-top: 10px;
  box-shadow: inset 3px 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

.headline {
  display: grid;
  grid-template-columns: auto 3px auto;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  margin-top: 10vh;
  margin-left: 2vw;
}

.contacts-title {
  font-size: 4.5vw;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  font-family: Inter-Bold;
}

.vertical-divider {
  background-color: var(--secondary-color);
  height: 4.5vw;
  width: 3px;
  border-radius: 2px;
}

.contacts-subtitle {
  font-family: Inter-Regular;
  font-weight: 400;
  font-size: 2vw;
  white-space: nowrap;
}


.contact-details {}








































/* .test-bg {
  background-color: var(--primary-color);
} */

dialog {
  position: fixed;
  max-width: 1200px;
  height: 592px;
  margin: auto;
}

/* .dialog-content {
} */

.dialog-header {
  background-color: var(--primary-color);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}