html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  overflow: hidden;
}

[role="button"],
*[style*="cursor: pointer"],
a,
button {
  transition: all 100ms ease-in-out;
}


.main-content {
  display: flex;
  max-height: 100vh;
  background-color: var(--input-text-color);
}


.left-content {
  margin-top: 12px;
  width: 456px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--input-text-color);
  height: 85vh;
  overflow: hidden;
  overflow-y: auto;
  flex-shrink: 0;
}


.add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 400px;
  height: 101px;
  background-color: var(--input-text-color);

}

.add-button-size {
  font-family: Inter-Bold;
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 21px);
  display: flex;
  align-items: center;
  gap: 16px;
  width: 352px;
  height: 56px;
  min-width: 200px;
}

.add-contact-icon {
  width: 32px;
  height: 32px;
}

.contact-list {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  width: 400px;
}

.first-letter {
  width: 352px;
  height: 78px;
  flex-shrink: 0;
  padding: 17px 36px 17px 36px;
  font-family: Inter-Regular;
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  flex-shrink: 0;
}

.letter-divider {
  width: 352px;
  border-bottom: 1px solid;
  border-color: var(--fifth-text-color);
}

.user-Selection {
  width: 352px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
  padding: 15px 24px 15px 24px;
  cursor: pointer;
  flex-shrink: 0;
}

.show-user-details-button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 24px 15px 24px;
  cursor: pointer;
  border: none;
}

.bg-color-active {
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--input-text-color);
}

.initials {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--input-text-color);
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-color: var(--input-text-color);
}

.contact-data {
  display: flex;
  flex-direction: column;
}

.cotact-info-text {
  display: flex;
  gap: 5px;
}

.name {
  font-family: Inter-Regular;
  font-weight: 400;
  font-size: 20px;
}

.email {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
}

.right-content {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
  box-shadow: inset 3px 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 110px;
  margin-left: 55px;
}

.contacts-title {
  font-family: Inter-Bold;
  font-size: 61px;
  font-weight: 700;
  margin: 0;
}

.vertical-divider {
  background-color: var(--secondary-color);
  height: 59px;
  width: 3px;
  border-radius: 2px;
}

.contacts-subtitle {
  font-family: Inter-Regular;
  font-weight: 400;
  font-size: 27px;
  white-space: nowrap;
}

/* --- DIALOG CONTENT --- */

.dialog-content {
  display: none;
  border: none;
  border-radius: 30px;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1212px;
  height: 594px;
  background-color: var(--input-text-color);
  z-index: 10;
}

.dialog-content[open] {
  display: flex;
  animation: slideIn 0.4s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translate(100vw, -50%);
  }


  to {
    transform: translate(-50%, -50%);

  }
}

.dialog-content.hide {
  display: flex;
  animation: slideOut 0.5s ease-in forwards;
}

@keyframes slideOut {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(100vw, -50%);

  }
}

.dialog-content::backdrop {
  background-color: rgba(0, 0, 0, 0.3s);
}

.dialog-container {
  width: 100%;
  display: flex;
}

.aside-content {
  background-color: var(--primary-color);
  width: 476px;
  height: 594px;
  color: var(--input-text-color);
  padding: 66px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.aside-logo {
  position: absolute;
  top: 150px;
  left: 47px;
  width: 56px;
  height: 66px;
}

.aside-h2 {
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: Inter-Bold;
  font-weight: 700;
  font-size: 61px;
  margin: 0;
  
}

.aside-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 371px;
  height: 129px;
  margin: 16px 0 8px 0;
}

.aside-p {
  font-size: 27px;
  font-family: Inter-Regular;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

.blue-line-horizontal {
  
  content: "";
  width: 90px;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 2px;

}

.dialog-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

}

.close-btn-overlay {
  position: absolute;
  top: 32px;
  right: 32px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dialog-main {
  width: 100%;
  display: flex;
  align-items: center;

}

.person-Logo-container {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: var(--input-default-main);
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0px 85px 65px 85px;
}


.person-logo {
  width: 64px;
  height: 64px;

}

.dialog-input-container {
  width: 422px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-right: 32px;
}

.dialog-input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 422px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--input-default-main);

}

.dialog-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 24px;
  margin: 13px 0px 13px 21px;
  border: none;
  font-family: Inter-Regular;
  font-size: 20px;
  font-weight: 400;
}

.dialog-input::placeholder {
  color: var(--input-default-main);
}

.dialog-input-icon {
  width: 24px;
  height: 24px;
  margin-right: 21px;
}

.dialog-login-buttons {
  display: flex;
  margin-top: 40px;
  margin-right: 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.img-check {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  margin-left: 6px;
  font-family: Inter-Bold;
  font-size: 21px;
  font-weight: 700;
  white-space: nowrap;
}

.img-check {
  filter: brightness(0) invert(1);
  margin-left: 6px;
}

.img-x {
  width: 24px;
  height: 24px;
  margin-left: 6px;
  margin-bottom: 2px;
}

.btn-cancel-text {
  font-family: Inter-Regular;
  font-size: 21px;
  font-weight: 400;
}


/* --- DIALOG DETAILS --- */


.contact-details-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 21px;
  height: 364px;
  width: 561px;
  border: none;
  top: 45%;
  left: 27%;
  background-color: transparent;
  z-index: 5;
  animation: slideInDetailBox 0.4s ease-out forwards;
}

@keyframes slideInDetailBox {
  from {

    transform: translate(150vw, -40%);

  }

  to {

    transform: translate(-50%, -50%);

  }
}

.header-contect-details {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  height: 120px;
  gap: 54px;
}

.initials-large {
  width: 120px;
  height: 120px;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--input-default-main);
  font-size: 47px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-color: var(--input-text-color);
}


.name-and-buttons {}


.main-contact-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
 
  
}

.contact-information {
  font-family: Inter-Regular;
  font-size: 21px;
  font-weight: 400;
  padding-top: 59px;
 padding-bottom: 59px;
}

.email-and-phone{

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
   gap: 15px;
}


.h1-contact-details {
  font-family: Inter-SemiBold;
  font-size: 47px;
  font-weight: 500;
  margin-bottom: 8px;
  white-space: nowrap;
}

.edit-delete {
  display: flex;
  gap: 13px;
}

.edit-delete-button {
  display: flex;
  align-items: center;
  font-family: Inter-Regular;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  border: none;
}

.edit-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}


li {

  list-style-type: none;
}

.contact-email,
.contact-phone {

  font-family: Inter-Bold;
  font-size: 16px;
  font-weight: 700;


}