.contact-success-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: clamp(8px,2.5vw, 55px);
    bottom: 150px;
    width: 326px;
    height: 74px;
    background-color: var(--primary-color);
    color: var(--input-text-color);
    font-weight: 400;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 20px;
    z-index: 31;
    transition: all 300ms ease-in-out;
}

.hide-overlay {
    transform: translateX(calc(100vw + 326px)); 
}

@media (max-width: 1024px) {
    .contact-success-overlay {
       
        left: 28%;
        transform: translateX(-50%) translateY(-100px) ;
    }

    .hide-overlay {
       
        transform: translateX(-50%) translateY(200px);
    }
}

@media (max-width <= 650px) {
    .contact-success-overlay {
       
        left: 50%;
        transform: translateX(-50%) translateY(-100px) ;
    }

    .hide-overlay {
       
        transform: translateX(-50%) translateY(200px);
    }
}


/* DETAILS DIALOG*/

.initials-large-edit-dialog {
  width: clamp(40px, 9vw, 120px);
  height: clamp(40px, 9vw, 120px);
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--input-text-color);
  font-size: clamp(16px, 4vw, 47px);
  font-weight: 500;
  border-style: solid;
  border-width: 3px;
  border-color: var(--input-text-color);
  box-shadow: var(--contact-shadow-initials);
  flex-shrink: 0;
}

.aside-h2-edit {
  font-weight: 700;
  font-size: clamp(47px, 5vw, 61px);
  margin-top: 16px;
  white-space: nowrap;
}

.aside-logo-edit {
  width: clamp(24px, 7vw, 57px);
  height: clamp(24px, 7vw, 66px);
  margin-bottom: clamp(12px, 4.2vw, 16px);
}

.close-btn-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 48px;
  right: 48px;
  background: none;
  border: none;
  font-size: clamp(18px, 2vw, 24px);
  z-index: 20;

  &::after {
    content: "";
    width: 32px;
    height: 32px;
    background: url("../assets/img/icons/contacts/close.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:hover::after {
    transform: scale(1.1);
  }
}

.mobile-only,
.btn--addPerson,
.edit-menu-box,
.btn--arrow,
.back-arrow,
.edit-menu {
  display: none;
}

.desktop-only,
.btn,
.btn--primary,
.add-button-size {
  display: flex;
}

