.main-content {
  display: grid;
  grid-template-columns: 32vw 1fr;
  max-height: 100vh;
  background-color: var(--input-text-color);
}

.left-content {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 2.5vh;
  background-color: var(--input-text-color);
  max-height: 80vh;
  overflow: hidden;
  justify-content: center;
  min-width: 250px;
}

.add-button-size {
  font-family: Inter-Bold;
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 21px);
  display: flex;
  align-items: center;
  gap: 2vh;
  width: 24vw;
  height: 6vh;
  min-width: 200px;
  min-height: 45px;
  margin-left: 25px;
  margin-bottom: 40px;
}

.add-contact-icon {
  width: 3.2vw;
  height: 3.2vh;
}

.contact-list {
  overflow-y: auto;
  margin-top: 2vh;
  height: 100%;
}

.letter-divider {
  font-size: 20px;
  padding: 17px 36px 17px 36px;
  border-bottom: 1px solid;
  border-color: var(--fifth-text-color);
  margin-bottom: 15px;
}

.userSelection {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 24px 15px 24px;
  cursor: pointer;
}

.show-user-details-button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 24px 15px 24px;
  cursor: pointer;
  border: none;
}

.userSelection:hover {
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--input-text-color);
}

.initials {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-color: var(--input-text-color);
}

.contact-data {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: Inter-Regular;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 8px;
}

.email {
  font-size: 16px;
  color: var(--secondary-color);
  text-decoration: none;
}

.right-content {
  margin-top: 10px;
  box-shadow: inset 3px 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

.headline {
  display: grid;
  grid-template-columns: auto 3px auto;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  margin-top: 10vh;
  margin-left: 2vw;
}

.contacts-title {
  font-size: 4.5vw;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  font-family: Inter-Bold;
}

.vertical-divider {
  background-color: var(--secondary-color);
  height: 4.5vw;
  width: 3px;
  border-radius: 2px;
}

.contacts-subtitle {
  font-family: Inter-Regular;
  font-weight: 400;
  font-size: 2vw;
  white-space: nowrap;
}

/* --- DIALOG CONTENT --- */

.dialog-content {
  display: none;
  border: none;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1212px;
  height: 594px;
  background-color: var(--input-text-color);
}

.dialog-content[open] {
  display: flex;
}

.dialog-content::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog-container {
  width: 100%;
  display: flex;
  }

.aside-content {
  background-color: var(--primary-color);
  width: 476px;
  height: 594px;
  color: var(--input-text-color);
  padding: 66px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.aside-logo {
  position: absolute;
  top: 154px;
  left: 47px;
  width: 56px;
  height: 66px;
}

.aside-h2 {
  font-family: Inter-Bold;
  font-weight: 700;
  font-size: 61px;

}

.aside-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 371px;
  height: 129px;
  margin: 16px 0 16px 0;
}

.aside-p {
  font-size: 27px;
  font-family: Inter-Regular;
  font-weight: 400;
  height: 32px;
  margin-bottom: 8px;
}

.blue-line-horizontal {
  content: "";
  width: 90px;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 2px;

}

.dialog-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

}

.close-btn-overlay {
  position: absolute;
  top: 32px;
  right: 32px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dialog-main {
  width: 100%;
  display: flex;
  align-items: center;

}

.person-Logo-container {
  display: flex;
  width: 120px;
  height: 120px;
  background-color: var(--input-default-main);
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.person-logo {
  width: 64px;
  height: 64px;
  
}

.dialog-input-container {
  width: 422px;
  height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  margin-right: 32px;
}

.dialog-input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 422px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--input-default-main);


}

.dialog-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 24px;
  margin: 13px 0px 13px 21px;
  border: none;
  font-family: Inter-Regular;
  font-size: 20px;
  font-weight: 400;
}

.dialog-input::placeholder {
  color: var(--input-default-main);
}


.dialog-input-icon {
  width: 24px;
  height: 24px;
  margin-right: 21px;

}


 .dialog-login-buttons {
  display: flex;
  margin-top: 40px;
  margin-right: 32px;
  justify-content:center;
  align-items: center;
  gap: 16px;
  font-family: Inter-Bold;
  font-size: 21px;
  font-weight: 700;
  white-space: nowrap;
} 

.img-check{
filter: brightness(0) invert(1);
margin-left: 6px;
}

.img-x {
margin-left: 6px;
}
