.contact-details-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1.9vw, 21px);
  width: 100%;
  height: auto;
  border: none;
  top: clamp(80px, 17.5vw, 250px);
  left: clamp(8px, 2.5vw, 55px);
  background-color: transparent;
  z-index: 30;
  animation: slideInDetailBox 0.3s ease-out forwards;
}

@keyframes slideInDetailBox {
  from {
    transform: translate(100vw);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

.no-animation {
  animation: none;
}

.header-contect-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(20px, 1vw, 54px);
}

.initials-large {
  width: clamp(80px, 8vw, 120px);
  height: clamp(80px, 8vw, 120px);
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--input-text-color);
  font-size: clamp(27px, 3vw, 47px);
  font-weight: 500;
  border-style: solid;
  border-width: 3px;
  border-color: var(--input-text-color);
  box-shadow: var(--contact-shadow-initials);
}

.main-contact-details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-information {
  font-size: 20px;
  font-weight: 400;
  padding-top: clamp(20px, 5.3vw, 59px);
  padding-bottom: clamp(20px, 5.3vw, 59px);
}

.email-and-phone {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 1.3vw, 15px);
}

.h1-contact-details {
  font-size: clamp(27px, 3vw, 47px);
  font-weight: 500;
  margin-bottom: clamp(4px, 0.7vw, 8px);
}

.edit-delete-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(6px, 1.1vw, 13px);
  z-index: 30;
}

.edit-delete-button {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-size: clamp(16px, 1.4vw, 16px);
  font-weight: 400;
  color: var(--primary-color);
  border: none;
}

.edit-delete-button:hover {
  color: var(--secondary-color);
  font-weight: 700;
  transform: scale(1.05);
}

.edit-delete-button svg {
  fill: currentColor;
}

.edit-svg,
.delete-svg {
  width: clamp(21px, 2.1vw, 24px);
  height: clamp(21px, 2.1vw, 24px);
  margin-right: clamp(4px, 0.7vw, 8px);
}

li {
  list-style-type: none;
}

/* DETAILS DIALOG*/

.initials-large-dialog {
  width: clamp(40px, 9vw, 120px);
  height: clamp(40px, 9vw, 120px);
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--input-text-color);
  font-size: clamp(16px, 4vw, 47px);
  font-weight: 500;
  border-style: solid;
  border-width: 3px;
  border-color: var(--input-text-color);
  box-shadow: var(--contact-shadow-initials);
  flex-shrink: 0;
}

.aside-h2-edit {
  font-weight: 700;
  font-size: clamp(47px, 5vw, 61px);
  margin-top: 16px;
  white-space: nowrap;
}

.aside-logo-edit {
  width: clamp(24px, 7vw, 57px);
  height: clamp(24px, 7vw, 66px);
  margin-bottom: clamp(12px, 4.2vw, 16px);
}

.mobile-only,
.btn--addPerson,
.edit-menu-box,
.back-arrow-box,
.back-arrow,
.edit-menu {
  display: none;
}

.desktop-only,
.btn,
.btn--primary,
.add-button-size {
  display: flex;
}

/* RESPONSIVE */
@media(max-width: 650px) {

  .desktop-only,
  .add-button-size {
    display: none;
  }

  .mobile-only,
  .btn--addPerson,
  .edit-menu-box,
  .back-arrow-box,
  .back-arrow,
  .edit-menu {
    display: flex;
  }

  .contact-list-off {
    display: none;
  }

  .contact-details-box {
    top: clamp(200px, 17.5vw, 400px);
    gap: 21px;
    padding: 0;
  }

  .contact-details-box {
    animation: none;
  }

  .header-contect-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .contact-information,
  .main-contact-details,
  .email-and-phone {
    padding: 0;
    gap: 21px;
  }

  .h1-contact-details {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
  }

  .edit-delete-container {
    position: fixed;
    bottom: 200px;
    right: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 116px;
    height: 100px;
    border-radius: 20px 20px 0 20px;
    box-shadow: var(--contact-menu-shadow);
    background-color: var(--input-text-color);
    cursor: pointer;
    transform: translateX(150%);
    transition: transform 0.3s ease-out;
  }

  .edit-delete-container.show {
    transform: translateX(0);
  }


  .edit-delete-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 10px 15px;
    font-size: clamp(16px, 1.4vw, 16px);
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--input-text-color);
    border: none;
    cursor: pointer;
  }


  .edit-svg,
  .delete-svg {
    width: clamp(21px, 2.1vw, 24px);
    height: clamp(21px, 2.1vw, 24px);
    margin-right: clamp(4px, 0.7vw, 8px);
  }


  .edit-menu-box {
    display: flex;
    position: fixed;
    border: none;
    bottom: 112px;
    right: 12px;
    z-index: 20;
    width: 56px;
    height: 56px;
    cursor: pointer;
  }

  .edit-menu {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .back-arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    border: none;
    top: 128px;
    right: 12px;
    z-index: 20;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  .back-arrow {
    width: 24.6px;
    height: 23.92px;
    cursor: pointer;
  }
}

@media(max-width: 427px) {

  .aside-h2-edit {
    font-size: clamp(40px, 12.5vw, 61px);
  }

  .initials-large {
    font-size: clamp(16px, 7vw, 27px);
  }

  .h1-contact-details {
    font-size: clamp(27px, 7vw, 36px);
    overflow-wrap: break-word;
  }

}

@media(max-width: 400px) {

  .header-contect-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}