body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  background-color: var(--background-color);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: var(--max-dp-width);
  padding-top: 67px;
}

.nav-login {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  margin-right: 77px;
  opacity: 0;
  animation: fadeInLoginContent 0.7s ease-in forwards;
  animation-delay: 0.3s;
}

.join-logo {
  position: absolute;
  z-index: 2;
  top: 50vh;
  left: 50%;
  translate: -50% -50%;
  width: 274px;
  height: 345px;
  animation: slide-diagonal 0.7s ease-in-out 0.3s forwards;
}

@keyframes slide-diagonal {
  0% {
    top: 50vh;
    left: 50%;
    translate: -50% -50%;
  }
  10%,
  20% {
    top: 50vh;
    left: 50%;
    translate: -50% -50%;
  }

  100% {
    top: 80px;
    left: 77px;
    width: 100px;
    height: 120px;
    translate: 0 0;
  }
}

.login {
  width: 652px;
  height: 450px;
}

.signup {
  width: 652px;
  height: 600px;
}

.form--container {
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.11);
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px;
  justify-items: center;
  align-items: center;
  opacity: 0;
  animation: fadeInLoginContent 0.7s ease-in forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInLoginContent {
  to {
    opacity: 1;
  }
}

.form--title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
}

.form--title .btn {
  position: absolute;
  left: 0;
}

.form--title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-family: Inter-Bold;
  position: relative;
}

.form--title h1::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: var(--secondary-color);
  bottom: -16px;
}

.input--container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.input {
  width: 422px;
  height: 48px;
}

.login-buttons {
  height: 70px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.privacy-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.privacy-content input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  background-image: url('../assets/img/icons/general/checkbox_default.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
}

.privacy-content input[type="checkbox"]:hover:not(:checked) {
  background-image: url('../assets/img/icons/general/checkbox_default_hover.svg');
}

.privacy-content input[type="checkbox"]:checked {
  background-image: url('../assets/img/icons/general/checkbox_checked.svg');
}

.privacy-content input[type="checkbox"]:checked:hover {
  background-image: url('../assets/img/icons/general/checkbox_checked_hover.svg');
}

.privacy-content span {
  font-size: 16px;
  color: var(--fourth-text-color);
  padding: 0 4px;
}

.footer-login {
  width: 100%;
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-dp-width);
  opacity: 0;
  animation: fadeInLoginContent 0.7s ease-in forwards;
  animation-delay: 0.3s;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-content a {
  text-decoration: none;
  color: var(--fourth-text-color);
  font-weight: 400;
}

.footer-content a:hover {
  color: var(--secondary-color);
  font-weight: 700;
  transform: scale(1.05);
}
