body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 150px 1fr 80px;
  place-items: center;
  background-color: var(--background-color);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: var(--max-dp-width);
  padding-top: 67px;
}

@media (min-width: 1500px) {
  .header {
    position: relative;
  }
}

.nav-login {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  margin-right: 77px;
  opacity: 0;
}

.join-logo {
  position: absolute;
  z-index: 2;
  top: 50vh;
  left: 50%;
  translate: -50% -50%;
  width: 274px;
  height: 345px;
}

.logo-animation {
  animation: slide-diagonal 0.7s ease-in-out 0.3s forwards;
}

@keyframes slide-diagonal {
  0% {
    top: 50vh;
    left: 50%;
    translate: -50% -50%;
  }
  10%,
  20% {
    top: 50vh;
    left: 50%;
    translate: -50% -50%;
  }

  100% {
    top: 50px;
    left: 77px;
    width: 100px;
    height: 120px;
    translate: 0 0;
  }
}

.fade-in {
  animation: fadeInLoginContent 0.7s ease-in forwards;
  animation-delay: 0.3s;
}
@keyframes fadeInLoginContent {
  to {
    opacity: 1;
  }
}

.form--container {
  width: clamp(300px, 90dvw, 650px);
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.11);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px 115px;
  justify-items: center;
  align-items: center;
  opacity: 0;
}

.signup {
  opacity: 1;
}

.form--title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  position: relative;
}

.form--title .btn {
  position: absolute;
  left: -60px;
}

.form--title h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  position: relative;
  font-weight: 700;
}

.form--title h1::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: var(--secondary-color);
  bottom: -16px;
}

.input--container-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 326px;
}

.input--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-height: 152px;
}

.input {
  width: 422px;
  height: 48px;
}

.login-buttons {
  display: flex;
  align-items: center;
  gap: 35px;
}

.form--container .btn--signup {
  font-size: 21px;
  font-weight: 700;
  padding: 16px 24px;
  height: 55px;
  width: 126px;
}

.privacy-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.privacy-content input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  background-image: url("../assets/img/icons/general/checkbox_default.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.privacy-content input[type="checkbox"]:hover:not(:checked) {
  background-image: url("../assets/img/icons/general/checkbox_default_hover.svg");
}

.privacy-content input[type="checkbox"]:checked {
  background-image: url("../assets/img/icons/general/checkbox_checked.svg");
}

.privacy-content input[type="checkbox"]:checked:hover {
  background-image: url("../assets/img/icons/general/checkbox_checked_hover.svg");
}

.privacy-content span {
  font-size: 16px;
  color: var(--fourth-text-color);
  padding: 0 4px;
}

.privacy-content a {
  color: var(--secondary-color);
  text-decoration: none;
}

.phone-signup {
  display: none;
}

.footer-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-dp-width);
  opacity: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-content a {
  text-decoration: none;
  color: var(--fourth-text-color);
  font-weight: 400;
}

.footer-content a:hover {
  color: var(--secondary-color);
  font-weight: 700;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  body {
    grid-template-rows: 110px 1fr auto 80px;
  }

  @keyframes slide-diagonal {
    0% {
      top: 50vh;
      left: 50%;
      translate: -50% -50%;
    }
    10%,
    20% {
      top: 50vh;
      left: 50%;
      translate: -50% -50%;
    }

    100% {
      top: 40px;
      left: 36px;
      width: 64px;
      height: 80px;
      translate: 0 0;
    }
  }

  .nav-login {
    display: none;
  }

  .phone-signup {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-weight: 400;
  }
  .form--container {
    padding: 16px;
  }
  .form--title h1 {
    font-size: 47px;
    font-family: "Inter-Bold";
  }

  .input,
  .input--container,
  .input--section {
    width: 100%;
  }

  .login-buttons {
    flex-direction: column;
    gap: 21px;

    .btn {
      width: 180px;
      height: 51px;
    }
  }
}
