.app {
  display: grid;
  grid-template-areas:
    "sidebar title"
    "sidebar content";
  grid-template-columns: 232px 1fr;
  grid-template-rows: 96px 1fr;
  height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--primary-color);
  box-shadow: var(--shadow-app-sidebar);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 64px;
}

.nav-logo {
  width: 100px;
  height: auto;
  padding-top: 64px;
  justify-self: center;
}
.nav-category-img {
  width: 25px;
  height: auto;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 46px;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.sidebar ul li a {
  color: var(--input-text-color);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding-left: 56px; */
}

.sidebar ul li:hover {
  background-color: var(--sixth-color);
}

.active {
  background-color: var(--btn-click-color);
}

.legal-section {
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 64px;
  transition: all 0.7s ease-in-out;
}

.legal-section-link {
  font-size: 16px;
  color: var(--fifth-text-color);
  text-align: start;
  font-weight: 400;

  &:hover {
    color: var(--secondary-color);
    transform: scale(1.05);
    font-weight: 700;
  }
}

.app--title {
  grid-area: title;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  background-color: var(--input-text-color);
  box-shadow: var(--shadow-app-title);
}

.app--title .title-logo {
  display: none;
}

.app--title-headline {
  font-size: 20px;
  color: var(--primary-text-color);
}
/* only for testing */
.app--content {
  grid-area: content;
  overflow: scroll;
  padding: 0;
}

.app--icons {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 16px;
  transition: transform 0.7s ease-in-out;
}
.app--icon {
  width: 20px;
  height: 20px;

  &:hover {
    transform: scale(1.2);
  }
}

/* checken wie dynamisch die initalen eingefugt werden */
.app--initials {
  width: 56px;
  height: 56px;
}

@media screen and (width <= 600px) {
  .app {
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "content"
      "sidebar";
  }

  .app--title {
    h1 {
      display: none;
    }

    .title-logo {
      display: block;
      width: 32px;
      height: 32px;
    }
  }

  .sidebar {
    grid-template-rows: 1fr;

    .nav-logo {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-around;
    }

    ul li {
      flex-direction: column;

      height: auto;
      width: auto;
    }

    ul li a {
      flex-direction: column;
    }

    .legal-section {
      display: none;
    }
  }

  .active {
    border-radius: 16px;
    /* border: solid 2px green; */
  }
}
