.summary {
    padding-left: clamp(8px, calc(-303.652px + 30.435vw), 96px);
    padding-right: clamp(8px,
            calc((100% - 1208px) / 2),
            calc((100% - 1208px) / 2));
    padding-top: clamp(24px, calc(-0.571px + 7.679vw), 110px);
    background-color: var(--third-background-color);
    min-height: 100%;
    min-width: 100%;
}

.summary-headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 34px;
    margin-bottom: 24px;
   
}

.summary-headline h1 {
    font-weight: 700;
    font-size: clamp(48px, calc(44px + 1.25vw), 62px);
    color: var(--primary-text-color);
}

.summary-headline span {
    font-weight: 400;
    font-size: clamp(20px, calc(17.714px + 0.714vw), 28px);
    color: var(--secondary-text-color);
}

.vl-1 {
    height: 60px;
    width: 3px;
    border-radius: 3px;
    background-color: var(--secondary-color);
}

.vl-2 {
    display: none;
}

.summary-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(12px, calc(-366.435px + 36.957vw), 80px);
    padding-bottom: 50px;
}


.summary-overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;

}

.summary-overview-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(8px, calc(1.143px + 2.143vw), 32px);
}

.summary-todo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: clamp(140px, calc(104.571px + 11.071vw), 264px);
    height: clamp(110px, calc(93.429px + 5.179vw), 168px);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: clamp(20px, calc(17.143px + 0.893vw), 30px);
    background-color: var(--secondary-background-color);
    transition: 100ms ease;

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        transform: scale(1.1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .summary-todo-icon {
            background-color: var(--secondary-background-color);
        }

        .summary-todo-icon img {
            filter: invert(0);
        }

        .summary-todo-amount,
        .summary-todo-text {
            color: var(--third-text-color)
        }
    }

    &:active {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary-background-color);
        transform: scale(0.95);

        .summary-todo-icon {
            background-color: var(--primary-color);
        }

        .summary-todo-icon img {
            filter: brightness(0) invert(1);
        }

        .summary-todo-amount,
        .summary-todo-text {
            color: var(--primary-text-color);
        }
    }

    &.is-loading {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary-background-color);
        transform: scale(0.95);
        pointer-events: none;

        .summary-todo-icon {
            background-color: var(--primary-color);
        }

        .summary-todo-icon img {
            filter: brightness(0) invert(1);
        }

        .summary-todo-amount,
        .summary-todo-text {
            color: var(--primary-text-color);
        }
    }
}

.summary-todo-icon {
    border-radius: 50%;
    height: clamp(40px, calc(31.429px + 2.679vw), 70px);
    width: clamp(40px, calc(31.429px + 2.679vw), 70px);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.summary-todo-icon img {
    height: clamp(20px, calc(16.571px + 1.071vw), 32px);
    width: clamp(20px, calc(16.571px + 1.071vw), 32px);
    filter: brightness(0) invert(1);

}

.summary-todo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.summary-todo-amount {
    font-weight: 600;
    font-size: clamp(40px, calc(33.143px + 2.143vw), 64px);
    color: var(--primary-text-color);
}

.summary-todo-text {
    font-weight: 400;
    font-size: clamp(16px, calc(14.857px + 0.357vw), 20px);
    color: var(--secondary-text-color);
    text-align: center;
}

.summary-overview-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(288px, calc(210.286px + 24.286vw), 560px);
    height: clamp(110px, calc(93.429px + 5.179vw), 168px);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: clamp(20px, calc(17.143px + 0.893vw), 30px);
    background-color: var(--secondary-background-color);
    transition: 100ms ease-out;

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        transform: scale(1.05);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .summary-todo-amount,
        .summary-overview-text,
        .summary-urgent-date,
        .summary-urgent-text {
            color: var(--third-text-color)
        }
    }

    &:active {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary-background-color);
        transform: scale(0.97);

        .summary-todo-amount,
        .summary-overview-text,
        .summary-urgent-date,
        .summary-urgent-text {
            color: var(--primary-color);
        }
    }

    &.is-loading {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary-background-color);
        transform: scale(0.95);
        pointer-events: none;

        .summary-todo-amount,
        .summary-overview-text,
        .summary-urgent-date,
        .summary-urgent-text {
            color: var(--primary-color);
        }
    }
}

.summary-urgent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(2px, calc(0.286px + 0.536vw), 8px);
}

.summary-urgent img {
    height: clamp(40px, calc(34.286px + 1.786vw), 60px);
    width: clamp(40px, calc(34.286px + 1.786vw), 60px);
}

.summary-urgent-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}

.vl-3 {
    height: clamp(60px, calc(48px + 3.75vw), 102px);
    width: 2px;
    border-radius: 2px;
    background-color: var(--seventh-color);
}

.summary-urgent-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding-left: 18px;
}

.summary-urgent-date {
    font-weight: 700;
    font-size: clamp(16px, calc(14.857px + 0.357vw), 20px);
    color: var(--primary-color);
}

.summary-urgent-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--primary-color);
}

.summary-overview-text {
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.summary-overview-small-tabs {
    width: clamp(94px, calc(72.857px + 6.607vw), 168px);
    height: clamp(94px, calc(72.857px + 6.607vw), 168px);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(2px, calc(0.286px + 0.536vw), 8px);
    border-radius: clamp(20px, calc(17.143px + 0.893vw), 30px);
    background-color: var(--secondary-background-color);
    transition: 100ms ease;

    &:hover {
        cursor: pointer;
        background-color: var(--primary-color);
        transform: scale(1.1);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        .summary-todo-amount,
        .summary-todo-text {
            color: var(--third-text-color);
        }
    }

    &:active {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary-background-color);
        transform: scale(0.95);

        .summary-todo-amount,
        .summary-todo-text {
            color: var(--primary-text-color);
        }
    }

    &.is-loading {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: var(--secondary-background-color);
        transform: scale(0.95);
        pointer-events: none;

        .summary-todo-amount,
        .summary-todo-text {
            color: var(--primary-text-color);
        }
    }
}



.summary-greeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

.summary-greeting-text {
    font-weight: 500;
    font-size: clamp(32px, calc(27.429px + 1.429vw), 48px);
    color: var(--primary-color);
}

.summary-greeting-name {
    font-weight: 700;
    font-size: clamp(44px, calc(38.286px + 1.786vw), 64px);
    color: var(--secondary-color);
}

.d-none {
    display: none;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.animate-fade-out {
    animation: fadeOutAnimation 1s ease-in-out forwards;
}


@media screen and (width <=1024px) {
    .summary-greeting-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 84px;
    }

    .summary {
        padding-left: 80px;
        position: relative;
        width: 100%;
    }

    .summary-greeting {
        display: none;
    }

    .summary-main {
        gap: 0;
    }

    .summary-headline {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12px;
        padding-left: 16px;
    }

    .vl-2 {
        display: block;
        height: 3px;
        width: 90px;
        border-radius: 3px;
        background-color: var(--secondary-color);
    }

    .vl-1 {
        display: none;
    }
}


@media screen and (width <=768px) {
    .summary-main {
        gap: 0;
        padding-top: 12px;
        padding-left: 16px;
    }

    .summary {
        padding-left: 0;
        padding: 24px auto;
    }


}


@media screen and (width <=480px) {
    .summary-main {
        justify-content: center;
        padding-left: 0;
    }
}