.utility-h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: clamp(36px, calc(28.571px + 2.321vw), 62px);
}

.utility-h2 {
  padding: 20px 0 10px 0;
  font-weight: 700;
  font-size: clamp(22px, calc(20.286px + 0.536vw), 28px);
}

.utility-h3 {
  padding: 10px 0;
}

.utility-h4 {
  padding: 10px 0;
}

.utility-highlighted {
  color: var(--secondary-color);
}

.utility-section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
  padding-bottom: clamp(46px, calc(41.429px + 1.429vw), 62px);
}

.utility-section-link {
  font-size: 16px;
  color: var(--fifth-text-color);
}

.utility-section-link:hover {
  color: var(--third-text-color);
}

.utility-content {
  width: 100%;
  max-width: 1440px;
  padding-top: clamp(20px, calc(-5.714px + 8.036vw), 110px);
  padding-left: clamp(16px,  5vw, 96px);
   padding-right: clamp(16px,  5vw, 96px);
  padding-bottom: clamp(12px, calc(1.143px + 3.393vw), 50px);
}

.utility-ol {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 0;
  margin-top: 12px;
}


.utility-ol li {
  counter-increment: my-counter;
  position: relative;
  padding-left: 2.5em;
  margin-bottom: 10px;
}


.utility-ol li h3 {
  padding: 0;
  padding-top: 10px;
}

ol li::before {
  content: counter(my-counter) ".";
  position: absolute;
  top: 8px;
  left: 0;
  width: 2em;
  font-weight: 700;
  font-size: 24px;
}

.d-none {
  display: none;
}

.return {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.btn-return {
  background: none;
  border: none;
  cursor: pointer;
}

#user-menu-dialog {
  position: fixed;
  top: 96px;
  /* right: 20px; */
  left: min(calc(100vw - 170px), 1270px);
  margin: 0;
  height: 158px;
  width: 150px;
  border-radius: 20px 0 20px 20px;
  background-color: var(--primary-color);
  border: none;
  padding: 0;
}

#user-menu-dialog::backdrop {
  backdrop-filter: none;
  background-color: transparent;
}

.user-menu {
  padding: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-star;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.user-menu-link {
  text-decoration: none;
  color: var(--fifth-text-color);
  height: 46px;
  display: flex;
  align-items: center;
}

.user-menu-help {
  display: none;
}

@media screen and (width <=1024px) {
  #user-menu-dialog {
    top: 68px;
    left: auto;
    right: 8px;
    height: 204px;
  }

  .user-menu-help {
    display: block;
    text-decoration: none;
    color: var(--fifth-text-color);
    height: 46px;
    display: flex;
    align-items: center;
  }

  .app--icon {
    display: none;
  }
}